{% load static %}
{% if site_setup.show_technology %}
    <!-- CONTENT TECHNOLOGIES-->
    <aside class="content-tecnology">
        <span>TECNOLOGIAS</span>
        <div class="separator-titles-section"></div>
        <div class="separator-green"></div>
        <div class="technologies">

            {% for tech in technology %}
                <div class="card-tec">
                    <img src="{{ tech.image.url }}" alt="">
                    <p>{{ tech.name }}</p>
                </div>
            {% endfor %}

        </div>
    </aside>
    <div class="separator"></div>
    <!-- CONTENT TECHNOLOGIES-->
{% endif %}