{% if site_setup.show_technology %}
    <!-- CONTENT TECHNOLOGIES-->
    <aside class="content-tecnology">
        <span>ALGUMAS TECNOLOGIAS</span>
        <div class="separator-titles-section"></div>
        <div class="separator-green"></div>
        <div class="technologies">
            <div class="card-tec">
            <img src="img/python.png" alt="">
            <p>Python</p>
            </div>
            <div class="card-tec">
            <img src="img/c-.png" alt="">
            <p>C#</p>
            </div>
            <div class="card-tec">
            <img src="img/unity.png" alt="">
            <p>Unity</p>
            </div>
            <div class="card-tec">
            <img src="img/html-5.png" alt="">
            <p>HTML</p>
            </div>
            <div class="card-tec">
            <img src="img/css-3.png" alt="">
            <p>CSS</p>
            </div>
            <div class="card-tec">
            <img src="img/js.png" alt="">
            <p>JavaScript</p>
            </div>
        </div>
    </aside>
    <div class="separator"></div>
    <!-- CONTENT TECHNOLOGIES-->
{% endif %}