{% if site_setup.show_footer %}
    <!-- FOOTER -->
    <footer>
        <div class="content-footer">
            {% comment %} <div class="social">
                <p>E-Mail: thales_plinio@hotmail.com</p>
            </div> {% endcomment %}
            <div class="created-by">
                <p>{% now "Y" %} © {{ site_setup.name_footer }}</p>
            </div>
            <div class="contact">
                <form action="" method="POST">
                <p>Se inscreva para receber novidades!</p>
                <input type="email" name="email" placeholder="Informe seu E-Mail" required>
                <button type="submit">Inscrever-se</button>
                </form>
            </div>
        </div>
    </footer>
    <!-- FOOTER FIM-->
{% endif %}