{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'blog/css/remedy.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

{% if site_setup.favicon %}
    <link rel="shortcut icon" href="{{ site_setup.favicon.url }}" type="image/png">
{% endif %}

<title>{{ page_title }}{{ site_setup.site_name }}</title>