{% if page_setup.is_published %}
    <!-- MAIN PAGE -->
    <main>
        <article class="main-content-post">
            <div class="page-content">
                <div class="content-summary-me">
                    <h1>{{ page_setup.full_name }}</h1>
                    <h2>{{ page_setup.profission }}</h2>
                    <h3>{{ page_setup.funtion_name }}</h3>
                </div>
                <div class="content-contact">
                    <div class="contact-email">
                        <label>E-Mail:</label>
                        <span>{{ page_setup.email }}</span>
                    </div>
                    <div class="contact-phone">
                        <label>Telefone/Whatsapp:</label>
                        <span>
                            <a target="_Blank" class="link-whats-about" data-tooltip="Acesse nosso Whatsapp" href="https://api.whatsapp.com/send?phone=5567993367597&text=Olá vim pelo site.">
                                {{ page_setup.phone }}
                            </a>
                        </span>
                    </div>
                    <div class="contact-address">
                        <label>{{ page_setup.locale }}</label>
                    </div>
                </div>
            </div>
            <div class="separator"></div>

            <div class="summary-about-more">
                {{ page_setup.content|safe }}
            </div>
                    
        </article>
    </main>
    <!-- MAIN INDEX -->¨
{% endif %}