<!-- MAIN POST -->
<main>
    <article class="main-content-post">
        <div class="title-post">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="post-subtitle">
            <p>{{ post.excerpt }}</p>
        </div>
        <div class="details-post-owner">
            <div class="post-by">
                <label>Por:</label>
                <a href="{% url 'blog:created_by' post.created_by.pk %}">
                    <span>
                        {% if post.created_by.first_name %}
                            {{ post.created_by.first_name }} {{ post.created_by.last_name }}
                        {% else %}
                            {{ post.created_by.username }}
                        {% endif %}
                    </span>
                </a>
            </div>

            <div class="post-date">
                <label>{{ post.created_at }}</span>
            </div>

            {% if post.category %}
                <div class="post-category">
                    <label>Category:</label>
                    <a href="{% url 'blog:category' post.category.slug%}">
                        <span>{{ post.category.name }}</span>
                    </a>
                </div>
            {% endif %}

        </div>
        <div class="post-status-top">
            <label>Status:</label>
            <span>Em Desenvolvimento</span>
        </div>
        <div class="separator"></div>


        <!-- POST CONTENT -->
        <div class="post-content-postage">
            {% if post.cover and post.cover_in_post_content %}
                <img 
                style="margin-left: auto; margin-right: auto;"
                loading="lazy"
                alt="Imagem do post {{ post.title }}"
                src="{{ post.cover.url }}" />
            {% endif %}
            
            {{ post.content|safe }}
        </div>
        <div class="separator"></div>
        <!-- POST CONTENT FIM -->
                






        <div class="post-details-owner-footer">
            <div class="details-post-owner">
                <div class="post-by">
                    <label>Por:</label>
                    <span>Thales Plinio Alves Feitosa</span>
                </div>
                <div class="post-date">
                    <label>19 de Dezembro de 2023</span>
                </div>
                <div class="post-category">
                    <label>Category:</label>
                    <span>Game</span>
                </div>
            </div>
            <br>
            <div class="post-status">
                <label>Tags:</label>
                <a href="#" class="btn-black-tag">Unity</a>
                <a href="#" class="btn-black-tag">C Sharp</a>
                <a href="#" class="btn-black-tag">Python</a>
                <a href="#" class="btn-black-tag">Jogos</a>
                <a href="#" class="btn-black-tag">Prog</a>
            </div>
        </div>
    </article>
</main>
<!-- MAIN POST FIM -->