<!-- MAIN POST -->
{% if post %}
<main>
    <article class="main-content-post">
        <div class="title-post">
            <h1>{{ post.title | safe }}</h1>
        </div>
        <div class="post-subtitle">
            <p>{{ post.excerpt | safe }}</p>
        </div>
        <div class="details-post-owner">
            <div class="post-by">
                <label>Por:</label>
                <a href="{% url 'blog:created_by' post.created_by.pk %}">
                    <span>
                        {% if post.created_by.first_name %}
                            {{ post.created_by.first_name }} {{ post.created_by.last_name }}
                        {% else %}
                            {{ post.created_by.username }}
                        {% endif %}
                    </span>
                </a>
            </div>

            <div class="post-date">
                <label>{{ post.created_at }}</span>
            </div>

            {% if post.category %}
                <div class="post-category">
                    <label>Category:</label>
                    <a href="{% url 'blog:category' post.category.slug %}">
                        <span>{{ post.category.name }}</span>
                    </a>
                </div>
            {% endif %}

        </div>
        <div class="post-status-top">
            <label>Status:</label>
            <span>Em Desenvolvimento</span>
        </div>
        <div class="separator"></div>


        <!-- POST CONTENT -->
        <div class="post-content-postage">
            {% if post.cover and post.cover_in_post_content %}
                <img 
                style="margin-left: auto; margin-right: auto;"
                loading="lazy"
                alt="Imagem do post {{ post.title }}"
                src="{{ post.cover.url }}" />
            {% endif %}
            
            {{ post.content | safe }}

        </div>
        <div class="separator"></div>
        <!-- POST CONTENT FIM -->
                
        <div class="post-details-owner-footer">
            <div class="details-post-owner">
                <div class="post-by">
                    <label>Por:</label>
                    <a href="{% url 'blog:created_by' post.created_by.pk %}">
                        <span>
                            {% if post.created_by.first_name %}
                                {{ post.created_by.first_name }} {{ post.created_by.last_name }}
                            {% else %}
                                {{ post.created_by.username }}
                            {% endif %}
                        </span>
                    </a>
                </div>
                <div class="post-date">
                    <label>{{ post.created_at }}</span>
                </div>
                <div class="post-category">
                    <label>Category:</label>
                    <a href="{% url 'blog:category' post.category.slug %}">
                        <span>{{ post.category.name }}</span>
                    </a>
                </div>
            </div>
            <br>

            {% if post.tags.all.exists %}
                <div class="post-status">
                    <label>Tags:</label>
                    {% for tag in post.tags.all %}
                        <a href="{% url 'blog:tag' tag.slug %}" class="btn-black-tag">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </article>
</main>
<!-- MAIN POST FIM -->
{% else %}
<h2>Nenhum post Encontrado!</h2>

{% endif %}
