<!-- MAIN INDEX -->
<main>
    <section>
        <div class="title-content-main-section">
        <span>ALGUNS PROJETOS</span>
        <div class="separator-titles-section"></div>
        </div>
        <div class="card-container">
        <div class="card">
            <a href="post.html">
            <img src="img/altumcode.jpg" alt="">
            </a>
            <div class="card-content">
            <a href="post.html">
                <h2>Card Title</h2>
            <p>resumo resumo resumo resumo resumo 
                resumo resumo resumo resumo resumo 
            </p>
            <a href="post.html" class="btn-black">Ver mais</a>
            </div>
        </div>
        <div class="card">
            <a href="">
            <img src="img/altumcode.jpg" alt="">
            </a>
            <div class="card-content">
            <a href="">
                <h2>Card Title</h2>
            <p>resumo resumo resumo resumo resumo 
                resumo resumo resumo resumo resumo 
            </p>
            <a href="#" class="btn-black">Ver mais</a>
            </div>
        </div>
        <div class="card">
            <a href="">
            <img src="img/altumcode.jpg" alt="">
            </a>
            <div class="card-content">
            <a href="">
                <h2>Card Title</h2>
            <p>resumo resumo resumo resumo resumo 
                resumo resumo resumo resumo resumo 
            </p>
            <a href="#" class="btn-black">Ver mais</a>
            </div>
        </div>
        </div>
        <!-- BUTTOM SEE MORE -->
        <div class="see-more-projects-page">
        <a href="projects.html" class="btn-white">
            Ver mais Projetos
        </a>
        </div>
    </section>
</main>
<!-- MAIN -->