{% if site_setup.show_some_projects %}
    <!-- MAIN INDEX -->
    <main>
        <section>
            <div class="title-content-main-section">
            <span>ALGUNS PROJETOS</span>
            <div class="separator-titles-section"></div>
            </div>
            <div class="card-container">

            {% for post in page_obj %}
                <div class="card">
                    <a href="{% url 'blog:post' post.slug %}">
                    {% if post.cover %}
                        <img src="{{ post.cover.url }}" alt="Imagem do post {{ post.title }}">
                    {% endif %}
                    </a>

                <div class="card-content">
                    <a href="{% url 'blog:post' post.slug %}">
                    <h2>{{ post.title | safe }}</h2>
                    <p>{{ post.excerpt | safe}}</p>
                    <a href="{% url 'blog:post' post.slug %}" class="btn-black">Ver mais</a>
                
                </div>
                </div>
            {% endfor %}

            </div>
            <!-- BUTTOM SEE MORE -->
            <div class="see-more-projects-page">
            <a href="{% url 'blog:projects' %}" class="btn-white">
                Ver mais Projetos
            </a>
            </div>
        </section>
    </main>
    <!-- MAIN -->
{% endif %}