{% if site_setup.show_project_highlight %}
    <!-- PROJETO DESTAQUE -->
    <article class="content-project">

        <span>PROJETO EM DESTAQUE</span>
        <div class="separator-titles-section"></div>
        <div class="separator-green"></div>

        
            <div class="project">
                <div class="title-project">
                <h1>{{ posts_destaque.title }}</h1>
                <p>{{ posts_destaque.excerpt }}</p>
                <a href="" class="btn-black">Ver mais</a>
                </div>
                <div class="image-project">
                <img src="{{ posts_destaque.cover.url }}" alt="">
                </div>
            </div>
        
    </article>
    <div class="separator"></div>
    <!-- PROJETO DESTAQUE -->
{% endif %}