{% if site_setup.show_project_highlight %}
    <!-- PROJETO DESTAQUE -->
    <article class="content-project">
        <span>PROJETO EM DESTAQUE</span>
        <div class="separator-titles-section"></div>
        <div class="separator-green"></div>
        <div class="project">
            <div class="title-project">
            <h1>Deliver your business through Docker Hub</h1>
            <p>Package and publish apps and plugins as containers in Docker Hub for easy 
                download and deployment by millions of Docker users worldwide.</p>
            <a href="#" class="btn-black">Ver mais</a>
            </div>
            <div class="image-project">
            <img src="img/altumcode.jpg" alt="">
            </div>
        </div>
    </article>
    <div class="separator"></div>
    <!-- PROJETO DESTAQUE -->
{% endif %}