.loaderElement{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--cor-de-fundo);
    margin-left: auto;
    margin-right: auto;
}
.spinner{
    height: 100px;
    width: 100px;
    padding: 2px;
    overflow: hidden;
    position: relative;
}

.loaderElement .spinner-ring{
    position: absolute;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top-color: var(--cor-hover);
    animation: loaderElement-animartion 1500ms cubic-bezier(0.680, -0.750, 0.265, 1.750) infinite forwards;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.loaderElement 
.spinner-ring:nth-child(1){
    height: calc(100px / 9 + 0 * 100px / 9);
    width: calc(100px / 9 + 0 * 100px / 9);
    animation-delay: calc(50ms * 1);
}
.loaderElement 
.spinner-ring:nth-child(2){
    height: calc(100px / 9 + 1 * 100px / 9);
    width: calc(100px / 9 + 1 * 100px / 9);
    animation-delay: calc(50ms * 2);
}
.loaderElement 
.spinner-ring:nth-child(3){
    height: calc(100px / 9 + 2 * 100px / 9);
    width: calc(100px / 9 + 2 * 100px / 9);
    animation-delay: calc(50ms * 3);
}
.loaderElement .spinner-ring:nth-child(4){
    height: calc(100px / 9 + 3 * 100px / 9);
    width: calc(100px / 9 + 3 * 100px / 9);
    animation-delay: calc(50ms * 4);
}
.loaderElement 
.spinner-ring:nth-child(5){
    height: calc(100px / 9 + 4 * 100px / 9);
    width: calc(100px / 9 + 4 * 100px / 9);
    animation-delay: calc(50ms * 5);
}
.loaderElement 
.spinner-ring:nth-child(6){
    height: calc(100px / 9 + 5 * 100px / 9);
    width: calc(100px / 9 + 5 * 100px / 9);
    animation-delay: calc(50ms * 6);
}
.loaderElement 
.spinner-ring:nth-child(7){
    height: calc(100px / 9 + 6 * 100px / 9);
    width: calc(100px / 9 + 6 * 100px / 9);
    animation-delay: calc(50ms * 7);
}
.loaderElement 
.spinner-ring:nth-child(8){
    height: calc(100px / 9 + 7 * 100px / 9);
    width: calc(100px / 9 + 7 * 100px / 9);
    animation-delay: calc(50ms * 8);
}
.loaderElement 
.spinner-ring:nth-child(9){
    height: calc(100px / 9 + 8 * 100px / 9);
    width: calc(100px / 9 + 8 * 100px / 9);
    animation-delay: calc(50ms * 9);
}
@keyframes loaderElement-animartion{
    100%{
        transform: rotate(360deg);
    }
}