<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "blog/partials/_head.html" %}
    {% block additional_code_mirror %}{% endblock additional_code_mirror %}
</head>
<body>
    {% include "blog/partials/_spinner.html" %}
    {% include "blog/partials/_scrollToTop.html" %}
    {% include "blog/partials/_topBarMode.html" %}

    {% include "blog/partials/_header.html" %}
    
    {% block content %}{% endblock content %}
    
    {% include "blog/partials/_footer.html" %}
    {% include "blog/partials/_scripts.html" %}
</body>
</html>